<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawel.database_php">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.auth.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".view.product.CreateProductsActivity"
            android:label="Add New Product" />
        <activity
            android:name=".view.product.EditProductActivity"
            android:label="Edit sProduct" />
        <activity android:name=".view.main.MainActivity" />
        <activity
            android:name=".view.YourSongsActivity"
            android:label="@string/title_activity_your__songs"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            android:windowSoftInputMode="stateVisible|adjustNothing"
            >
            <meta-data
               android:name="android.app.searchable"
                android:resource="@xml/searchable">

            </meta-data>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"></action>

            </intent-filter>

        </activity>
        <activity
            android:name=".view.auth.SignUpActivity"
            android:parentActivityName=".view.auth.SignInActivity">

        </activity>

    </application>

</manifest>